<table border>
	<tr>
		<tr>			
			<caption>
				<%= link_to image_tag("/images/left_arrow.png"), (new_week_path :day => last_week(@week.day).last) %> | 
				<%= link_to image_tag("/images/right_arrow.png"), (new_week_path :day => @week.day.next_week) %>
			</caption>
			<div class="slot_week">
			<% for day in @week.days %>
				<td><%= day.date %></td>
			<% end %>
			<div class="slot_week">		
		</tr>
		<tr>
			<% for days in @week.find_weeks %>
			
				<% for day in days %>
				<td>
					<div class="slot_week">
						<%= day.date.day %>
						<%= @week.day.strftime("%b") %>
						<hr />
						
				    <% for time in day.times %>
						
							<p><%= time %></p>
							
							<% for event in @events %>		
							
								<% if event.date.hour == time.to_i %>
									<% compact = recurs(event, day.date) %>
									<%= recurs(event, day.date) %>
								<% end %>
								
							<% end %>
							<hr />
							
						<% end %>
					</div>					
				 </td>		
				<% end %>
			<% end %>			
		</tr>
	</tr>
</table>
