<table border>
	<caption>
		<%= link_to image_tag("/images/left_arrow.png"), (new_day_path :date => one_day.yesterday) %>
		<%= one_day.day %>
		<%= one_day.strftime("%B") %>
		<%= one_day.strftime("%A") %>
		<%= link_to image_tag("/images/right_arrow.png"), (new_day_path :date => one_day.tomorrow) %>
	</caption>
	<tr>	
		<td>		
			<div class="slot_day">
				
					<% for time in @day.times %>
				
						<p><%= time %></p>
						
						<% for event in @events %>
							
							<% if event.date.hour == time.to_i %>
								<%= link_to recurs(event, one_day), edit_event_path(event) %>
							<% end %>
							
						<% end %>
						<hr />
											
					<% end %>
				</div>
		</td>
	</tr>
</table>

