<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
	<head> 
 		<title>My Blog</title> 
		<%= stylesheet_link_tag "calendar", :media => "all" %>
	</head> 
	<body>
		<div id="calendar">	
			<strong><%= Time.now.strftime("%d %B %Y") %></strong>
			<%= link_to "Year", new_calendar_path %>
			<%= link_to "Month", (new_month_path :mas => today) %>
			<%= link_to "Week", (new_week_path :day => today.last) %>
			<%= link_to "Day", (new_day_path :date => today.last) %>
			
			<%= yield :layout %> 
		</div>
	</body> 
</html> 
